/* General page components
======================================== */
.page-header
{
    text-align: center;
}

/* Landing page
======================================== */
.github-fork-ribbon:before
{
    background-color: #303030;
}

.quiz-selector
{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
    text-align: center;
}

.quiz-selector a
{
    padding: 1em;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1em;
    text-decoration: none;
    color: inherit;

    -webkit-transition-property: background-color, transform;
    -o-transition-property: background-color, transform;
    -moz-transition-property: background-color, transform;
    transition-property: background-color, transform;

    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.quiz-selector a:hover
{
    background-color: rgba(0, 0, 0, 0.3);

    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}

/* Quiz
======================================== */
.quiz-wrapper
{
    text-align: center;
    object-fit: contain;
}

.quiz-image
{
    margin: auto;
    margin-top: 1em;
    width: 80vw;
    max-width: 600px;
    height: auto;
    border-radius: 1em;
    box-shadow: 0 0 7px #303030;
}

.quiz-form
{
    width: 80vw;
    max-width: 600px;
    margin: auto;
    margin-top: 1em;
}

.quiz-field
{
    width: 100%;
    height: 2rem;
    margin: 0;
    margin-bottom: 1em;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.quiz-field label
{
    text-align: left;
    flex-basis: 0;
    flex-grow: 1;
    height: 100%;
}

.quiz-field select,
.quiz-field input,
.quiz-form input[type="submit"]
{
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1rem;
    color: #303030;

    border-radius: 0.3em;

    background-color: rgba(0, 0, 0, 0.15);

    -webkit-transition-property: background-color, transform;
    -o-transition-property: background-color, transform;
    -moz-transition-property: background-color, transform;
    transition-property: background-color, transform;

    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.quiz-field select:hover,
.quiz-field select:focus,
.quiz-field input:hover,
.quiz-field input:focus,
.quiz-form input[type="submit"]:hover,
.quiz-form input[type="submit"]:focus
{
    background-color: rgba(0, 0, 0, 0.3);

    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}

.quiz-field select
{
    flex-basis: 0;
    flex-grow: 2;
    border: none;
    height: 100%;
    max-width: 45vw;
}

.quiz-field select > option
{
    background-color: #e4c593;
}

.quiz-field input[type="text"]
{
    padding: 0;
    flex-basis: 0;
    flex-grow: 1.976; /* Flexbox doesn't like border-box sizing or something.. */
    border: none;
    height: 100%;
    padding-left: 0.3em;
    max-width: 45vw;
}

.quiz-form input[type="submit"]
{
    border: none;
    width: 100%;
    font-size: 1.5rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.quiz-stats
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.quiz-stats .statistic
{
    margin-top: 0.5em;
}

/* Needs some extra specificity for border */
.quiz-form .quiz-field .invalid-answer
{
    border: 1px solid #e55555;

    animation-name: incorrect-shake;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}

@keyframes incorrect-shake
{
    8%, 41% {
        transform: translateX(-5px);
    }
    25%, 58% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-2px);
    }
    92% {
        transform: translateX(2px);
    }
    0%, 100% {
        transform: translateX(0);
    }
}