.landing-container
{
    text-align: center;
}

.landing-container h1
{
    font-size: 3rem;
}

.quiz-selector
{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
}

.quiz-selector a
{
    padding: 2em;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0.5em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    text-decoration: none;
    color: inherit;
}

.quiz-selector a:hover
{
    background-color: rgba(0, 0, 0, 0.5);
}
